@{

    ViewBag.Title = "Home Page";
}
,

<div class="jumbotron">
    <h1>QUICKER BOOKS</h1>
    <p class="lead">Welcome to Quicker Books!</p>
    <p><a href="Home" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div> 


