@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin.</h1>
    <h2>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h2>
   
    <h2>
        <li>@Html.ActionLink("Email", "Index", "Role")</li>
    </h2>

}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}

